/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Heading Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Body Fonts */

header {
  background-color: #0b083b;
  color:#b0b0b0;
  margin: 0;
}

.headerImg img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

header h1, p {
  margin: 0;
  padding: 1rem;
}

.headerTxt { /* Code here referenced from w3school [https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text] */
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: 600; 
  font-size: 48px;
  color:#EEE;
}

body {
  font-family: "Robot", sans-serif;
  margin: 0;
}

section {
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  margin-top: 1rem;
  text-transform: uppercase;
  
}

h3 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Roboto', sans-serif;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

figure img {
  max-width: 300px;
}


/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */

.headerNav {
  padding: 15px;

  background-color: #0b083b;
}

.headerNav a {
  text-decoration: none;
  color: #EEE;
  padding: 15px;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.headerNav a:hover {
  color: #0b083b;
  background-color: #f27c4e;
}

.headerNav a:focus {
  color: #fff;
  background-color: #ffe675;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #FFFF;
  background-color: #0b083b;
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}
.button-nav:hover, .button-nav:focus {
  color: #0b083b;
  background-color: #f27c4e;
  transition-property: background-color;
  transition-duration: 0s;
}

.button-nav:active {
  color: #fff;
  background-color: #ffe675;
}


/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/

.navBar {
  list-style-type: none;
  max-width: 200px;
  width: 25%;
  background-color: #393847;
}

.navBar li a {
  padding: 1rem;

  display: block;
  color: #EEE;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #0b083b;

  transition-property: background-color;
  transition-duration: 0.5s;
}

.navBar li a:hover {
  background-color: #b34b22;
} 

/* ITEM */

.item {
  max-width: 270px;
  width: 50%;

  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #22212e;
  flex-shrink: 1;

  border-style: solid;
  border-width: 2px;
}

.itemDetails {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item img {
  max-width: 270px;
  width: 100%;

  transition-duration: 1s;
}

.item img:hover {
  transform:scale(1.1);
}

.item h2 {
  font-size: 23px;
  text-align: center;

  color:#FFFF;
  padding: 5px;
}

.item h2 a {
  color: #ffff;
  text-decoration: none;
}

.item h2:hover {
  text-decoration: underline;
}

.item h3 a {
  color:#FFFF;
  text-decoration: none;
}

.item h3 {
  margin: -25px;
  color:#b1b0c5
}

.item h3 a:hover {
  text-decoration: underline;
}

.item p {
  color:#b0b0b0;
  text-decoration: none;
}

.item p a:hover {
  color: red;
}

/* ITEM */

/* Shop Page */

.shopBody {
  background-color: #1c1b29;
  color:#FFFFFF;

  background-image: url('../images/hema.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shopSection {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.navBarFilter {
  margin: 0;
  flex: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 200px;
  width: 15%;
  background-color: #393847;
}

/* Cart Page */

.cartBody {
  background-color: #8d88d7;
  color:#FFFFFF;

  background-image: url('../images/hema.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.shoppingCart {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.paymentForm {
  max-width: 700px;
  width: 75%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #2b2a37;
  color:#EEEE;
  padding: 20px;
}

.paymentForm input, input[type = email] {
  padding: 12px;
  margin: 5px;
  box-sizing: border-box;
  background:#EEE;

  font-family: 'Roboto', sans-serif; 
}

.paymentForm label {
  font-family: 'Roboto', sans-serif;
}

.paymentForm input[type = text] {
  background:#EEE;
}

.paymentForm input[type = submit] {
  display: inline-block;
  padding: 0.5rem;
  margin-top: 1rem;
  color: #FFFF;
  background-color: #f27c4e;
  text-decoration: none;
  cursor:pointer;
}

.paymentForm input[type = submit]:hover {
  background-color: #b34b22;
}

.checkout {
  border-radius: 5px;
  padding: 15px 15px;
  background-color: #21202d;
  margin: 0 auto 0 auto;
  max-width: 700px;
  width: 75%;
}

.checkoutItem {
  height: 5%;
  max-height: 100px;

  width: 70%;
  max-width: 500px;

  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-style: solid;
  border-width: 2px;

  align-items: center;

  border-radius: 5px;
  background-color: #2f2f49;
  color:white;
}

.checkoutItem img {
  max-width: 100px;
}

.checkoutItem h4, .checkoutItem p {
  display: block;
  padding: 15px;
}

.price {
  font-weight: 500;
}

.cartSummary {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 75%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #4a4762;
}

.cartSummary p {
  font-weight: 600;
}

.sharpness {
  color:#848484;
  font-style: italic;
}


